.questa_static_screen/
.questa_compile/
DNI/
.ip_lint_out/
modelsim.ini
qdb/
rdma_dma_engine_hw.qpf
rdma_dma_engine_hw.qsf
syn/quartus/db/
syn/quartus/incremental_db/
syn/quartus/output_files/
syn/quartus/*.done
syn/quartus/*.jdi
syn/quartus/*.pin
syn/quartus/*.qpf
syn/quartus/*.qws
syn/quartus/*.rpt
syn/quartus/*.smsg
syn/quartus/*.summary
work/
work_packer_fifo/
